<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
    <parameter name="locale" value="UK"/>
    <test name="calculations.us">
        <parameter name="locale" value="US"/>
        <classes>
            <class name="serenitydojo.testng.calculator.AdditionTest"/>
            <class name="serenitydojo.testng.calculator.SubtractionTest"/>
        </classes>
    </test>
    <test name="calculations.fr">
        <parameter name="locale" value="FR"/>
        <classes>
            <class name="serenitydojo.testng.calculator.AdditionTest"/>
            <class name="serenitydojo.testng.calculator.SubtractionTest"/>
        </classes>
    </test>
    <test name="calculations.default">
        <classes>
            <class name="serenitydojo.testng.calculator.AdditionTest"/>
            <class name="serenitydojo.testng.calculator.SubtractionTest"/>
        </classes>
    </test>
</suite>
